.button {
    padding: 10px;
    min-width: 50px;
    min-height: 30px;
    font-size: 18px;
    width: 100%;
    display: flex;
    gap: 14px;
    background-color: #fff;
    border-radius: 5px;
    transition: .4s all;
    margin-bottom: 10px;
    &:hover, &:focus {
        background-color: #d94948;
        color: #fff;
        svg {
            color: #fff;
        }
    }
    svg {
        font-size: 24px;
    }
}