.button {
  position: relative;
  width: 150px;
  height: 40px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: transparent;
  .span {
    font-size: 16px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: #fff;
  }

  .shape {
    stroke-width: 2px;
    fill: transparent;
    stroke: #06D6A0;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}

&:hover .shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}
}