
.inputBox {
    position: relative;
    width: 300px;
    
    .input {
        padding: 12px 10px 12px 48px;
        border: none;
        width: 100%;
        background: #223243;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #fff;
        font-weight: 300;
        border-radius: 25px;
        font-size: 1em;
        box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35);
        transition: 0.5s;
        outline: none;
    }
    
    .inputSpan {
        position: absolute;
        left: 0;
        padding: 12px 10px 12px 48px;
        pointer-events: none;
        font-size: 1em;
        font-weight: 300;
        transition: 0.3s;
        letter-spacing: 0.05em;
        color: rgba(255, 255, 255, 0.5);
    }
    
    .input:valid ~ span,
    .input:focus ~ span {
        color: #06d6a0;
        border: 1px solid #06d6a0;
        background: #233243;
        transform: translateX(25px) translateY(-7px);
        font-size: 0.6em;
        padding: 0 8px;
        border-radius: 10px;
    }
    
    .inputSvg {
        position: absolute;
        top: 10px;
        left: 16px;
        width: 25px;
        padding: 2px 0;
        padding-right: 8px;
        color: #06d6a0;
        border-right: 1px solid #06d6a0;
        font-size: 24px;
      }

    .eye {
        position: absolute;
        top: 0;
        right: 40px;
        padding-left: 8px;

        svg {
          border: none;
        }
      }
}