.header {
  height: 80px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%);

  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
  }

  .header__login {
    display: flex;
    gap: 20px;
  }

  a {
  color: #fff;

  }
}
