.header {
  height: 80px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%);

  .header__logo {
    margin-right: 10%;
    a {
      display: flex;
    justify-content: center;
    align-items: center;
    }
  }

  .header__navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
  }

  .header__login {
    display: flex;
    gap: 20px;
  }

  a {
    text-decoration: none;
    position: relative;
    color: #fff;
  
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: transparent; 
      transform: scaleX(0);
      transition: transform 0.3s;
    }
  
    &:before {
      top: -10px;
      transform-origin: right;
    }
  
    &:after {
      bottom: -10px;
      transform-origin: left;
    }
  
    &:hover {
      color: #06D6A0;
      svg {
        fill: #06D6A0;
      }
      &:before,
      &:after {
        transform: scaleX(1);
        background-color: #06D6A0;
      }
    }
  }
  
}
