@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

svg {
  cursor: pointer;
}
